body{
    margin: 0;
    text-align: center;
    background-color:rgb(228, 101, 122) ;  
}

img{
    height:400px ;
    width:400px ;
    border-radius:50%;
}

button{
    padding: 15px 25px 15px 25px;
    border-radius:15px;
    /* border: none; */
    background-color:whitesmoke ;
    font-family: cursive;
    font-size: 17px;
    cursor: pointer;
    background-color: palevioletred;
    
}

button:hover{
    background-color: rgb(255, 161, 161);
    transition: 0.5s;
}

